<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="connectionString" value="Data Source=localhost;Initial Catalog=A4Charts; Integrated Security=true" />
        <add key="filePath" value="C:\\Users\\sky\\Desktop\\PROG3070\\sroth1644_A4\\sroth1644_A4\\covid19.csv" />
    </appSettings>
</configuration>
